body {
    display: flex;
    flex-direction: column; /* Aligns children elements in a column */
    align-items: center; /* Centers children horizontally */
    justify-content: center; /* Centers children vertically in their container */
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.title {
    font-size: 35px; /* Large font size for visibility */
    margin: 20px 0; /* Adds space around the title */
    text-align: center; /* Ensures the text is centered */
}

#map {
    width: 960px;
    height: 600px;
    border: 1px solid #ccc;
    margin-top: 20px;
}




.tooltip {
    position: absolute;
    text-align: center;
    padding: 5px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    z-index: 1000; /* Ensure tooltip is above all other elements */
}


.slider {
    margin: 20px;
}

.track,
.track-inset,
.track-overlay {
    stroke-linecap: round;
}

.track {
    stroke: #000;
    stroke-width: 8px;
}

.track-inset {
    stroke: #ddd;
    stroke-width: 6px;
}

.track-overlay {
    pointer-events: stroke;
    stroke-width: 50px;
    stroke: transparent;
    cursor: pointer;
}

.handle {
    fill: #fff;
    stroke: #000;
    stroke-opacity: 0.5;
    stroke-width: 1.25px;
    cursor: grab;
}

#yearSelect {
    width: 200px;
    height: 50px;
    font-size: 16px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: white;
    margin-top: 20px;
}


#yearSelect option {
    padding: 10px; /* Padding inside each option */
}
